* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DFE6E9;
}

.title {
    background-color: #0984E3;
    width: 100%;
    position: absolute;
    top: 0;
    padding: 5px 130px;
    color: #ffffff;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    padding-bottom: 20px;
}

.img {
    max-width: 100%;
    margin-top: 80px;
    margin-bottom: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box {
    background-color: #ffffff;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 10px;
}

@media screen and (min-width: 680px) {
    div.row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
}
/* @media screen and (min-width: 680px) {
    div.title {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }
} */
